@import "normalize.css";

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fafbfc;
    width: 100%;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

/* HEADER DESKTOP*/

.header {
    background-image: linear-gradient(to bottom, rgba(20, 20, 24, 0.52), rgba(68, 58, 65, 0.73)), url(./assets/stade.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

nav {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap;*/
    justify-content: space-around;
    height: 80px;
    padding: 10px;
    font-size: 14px;
    color: white;
    align-items: center;
}
.logo {
    font-weight: bold;
    font-size: 30px;
}
.logo span {
    border-bottom: solid #fd3fb3 5px;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav li {
    padding: 10px;
}
.nav li a {
    color: white;
    font-weight: 400;
}
.cta-nav {
    padding: 10px;
    font-size: 14px;
    margin-left: 30px;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: calc(70vh-80px);
    justify-content: center;
    margin: 20px;
}
h1 {
    font-size: 35px;
}
.hero p {
    font-weight: 400;
}
.hero-cta {
    margin-top: 20px;
    display: flex;
    width: 425px;
    justify-content: space-between;
}
.cta-nav,
.cta,
.cta-about {
    background-color: #fd3fb3;
    color: white;
}
.cta,
.cta-2 {
    width: 200px;
    padding: 17px 40px;
    font-size: 17px;
}
.cta-2 {
    color: #fd3fb3;
    background-color: white;
}

/*HEADER TABLETTE*/

@media only screen and (max-width: 900px) {
    nav {
        justify-content: space-between;
    }
    .nav {
        font-size: 12px;
    }
    .cta-nav {
        font-size: 12px;
        margin-left: 20px;
    }
    h1 {
        font-size: 25px;
    }
    .hero p {
        font-weight: 300;
    }
}
@media only screen and (max-width: 550px) {
    .nav {
        display: none;
    }
    .hero-cta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .cta,
    .cta-2 {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Section Features */

.features {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
.services {
    display: flex;
    align-items: center;
    font-weight: 500;
}
.icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background-color: #b12a7d;
    padding: 3px;
    border-radius: 100%;
}

@media only screen and (max-width: 900px) {
    .features {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 550px) {
    .icon {
        width: 60px;
        height: 60px;
    }
    .text-services {
        font-size: 18px;
    }
    .services {
        width: 50%;
    }
}

/* Section About*/

.about-us {
    display: flex;
    width: 90%;
    margin: 30px auto;
    border: transparent;
    box-shadow: 5px 5px 45px 5px rgba(0, 0, 0, 0.19);
}
.img-about {
    width: 50%;
    background-size: contain;
    text-align: center;
    height: 500px;
}
.text-about-us {
    padding: 40px;
    width: 50%;
    font-weight: 300;
}
.text-about-us h2 {
    margin-top: 0;
}
.text-about-us p {
    padding-bottom: 16px;
}
.cta-about {
    padding: 20px;
}

@media only screen and (max-width: 900px) {
    .about-us {
        flex-direction: column-reverse;
        width: 80%;
    }
    .img-about {
        width: 100%;
    }
    .text-about-us {
        width: 100%;
    }
    .cta-about {
        width: 90%;
        display: inline-block;

        text-align: center;
    }
}

/* Section testimonials*/

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafbfc;
    padding-bottom: 10px;
    margin: 150px 0;
}
.title-testimonials {
    text-align: center;
}
.title-testimonials h3 {
    font-size: 45px;
    font-weight: 600px;
}
.title-testimonials p {
    margin: 50px 0;
    font-size: 20px;
}
.testimonial-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 45px 5px rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    width: 33%;
}
.profil-reviews {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.name {
    color: #fd3fb3;
}
@media only screen and (max-width: 900px) {
    .testimonial-container {
        flex-direction: column;
        align-items: center;
    }
    .profil {
        width: 90%;
    }
}

/* Section avantages */

.avantages-title {
    text-align: center;
}
.avantages-title span {
    border-bottom: #b12a7d solid 4px;
}
.avantages {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto;
}
.avantages-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icon-svg-1,
.icon-svg-2,
.icon-svg-3,
.icon-svg-4 {
    width: 80px;
    border-radius: 10px;
    padding: 10px;
}
.icon-svg-1 {
    background-color: #f64968;
}
.icon-svg-2 {
    background-color: #d4cdff;
}
.icon-svg-3 {
    background-color: #fffacd;
}
.icon-svg-4 {
    background-color: #c9ffc0;
}
.text-avantage {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}
@media only screen and (max-width: 500px) {
    .avantages-icon {
        width: 50%;
    }
}
/* Section abonnements */
.abonnements {
    text-align: center;
    margin: 150px auto;
    background-color: #fafbfc;
}
.title-abonnements h3 {
    font-size: 45px;
    font-weight: 700;
}
.title-abonnements p {
    font-size: 20px;
    width: 80%;
    margin: auto;
}
.abonnements-container {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
}
.forfait {
    width: 100%;
    background-color: white;
    margin: 70px 10px;
    padding: 10px;
    box-shadow: 5px 5px 45px 5px rgba(0, 0, 0, 0.19);
    text-align: center;
}
.price {
    font-weight: 700;
    font-size: 40px;
}
.green-sell {
    padding: 0;
    text-align: center;
}
.green-sell li {
    display: flex;
    padding-bottom: 20px;
    font-size: 14px;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.green {
    height: 20px;
    margin: 10px;
}
.cta-forfait {
    margin-top: auto;
    font-weight: 300;
    color: white;
    width: 100%;
    padding: 20px;
    display: inline-block;
    background-color: #b12a7d;
}
@media only screen and (max-width: 900px) {
    .abonnements-container {
        flex-wrap: wrap;
    }
}
/* Section Formulaire*/

.form {
    background-image: linear-gradient(to bottom, rgba(20, 20, 24, 0.52), rgba(68, 58, 65, 0.73)), url(./assets/alteres.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}
.form-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70%;
    margin: auto;
}
.form-title {
    padding-top: 0;
    margin-top: 0;
}
.form-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 4px;
    height: 350px;
    width: 350px;
    padding-bottom: 0;
}
.text-form {
    padding: 10px;
    align-items: center;
    color: white;
    width: 50%;
    padding-top: 0;
}
.form-card label {
    font-weight: 500;
    margin-bottom: 10px;
}
.form-card input {
    height: 40px;
    margin-bottom: 10px;

    border: #dfe1e5 1px solid;
}

.cta-form {
    color: white;
    background-color: #b12a7d;
    width: 50%;
    margin: 20px 0;
    padding: 20px;
    border: none;
}
@media only screen and (max-width: 900px) {
    .form {
        height: 92vh;
    }
    .form-container {
        flex-direction: column;
        width: 85%;
    }
    .text-form {
        width: 100%;
    }
    .form-card {
        width: 100%;
        padding: 20px;
    }
}
@media only screen and (max-width: 500px) {
    .form-card {
        width: 75%;
    }
}
